<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.net>
    <connectionManagement>
      <add address = "*" maxconnection = "100" />
    </connectionManagement>
  </system.net>
  <connectionStrings>
    <add name="connectionString" connectionString="Server=octagon-studios.com;Database=wowauctions;User Id=sa;Password=14W5991b;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>